<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
      <br />
      <div class="row">
        <center>
          <img width="500" height="400" src="./assets/img/logoUnidad.png" />
        </center>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <center>
            <h2><b> División Tecnología de la Información </b></h2>
          </center>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <center>
            <h3> <b>Sección Análisis y Programación</b></h3>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
