<div class="container-fluid">
  <br />
  <div class="row alert alert-success text-center">
    <div class="col-md-12">
      <legend><b>Panel Administrador de Estados</b></legend>
    </div>
  </div>
  <div class="row">
    <form class="text-center" [formGroup]="form" (ngSubmit)="doAction()">
      <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <label for="Nombre" class="col-sm-12 col-form-label">Ingrese Nombre:</label>
          <input
            [(ngModel)]="item.nombre"
            id="codigo"
            type="text"
            class="form-control"
            formControlName="nombre"
            [ngClass]="{ 'is-invalid': enviado && f['nombre'].errors }"
          />
          <div *ngIf="enviado && f['nombre'].errors" class="invalid-feedback">
            <div *ngIf="f['nombre'].errors['required']">Campo obligatorio</div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <br />
      <hr />
      <div class="row">
        <button class="btn btn-dark" type="submit">Guardar</button>
        &nbsp;
        <button class="btn btn-info" type="button" (click)="back()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
